.folder-item a {
    font-size: 1.3em;
    align-items: center;
    gap: 3px;
    color: #0073aa;
}

.folder-item a:hover {
    color: #005177;
}

.folder-item a:hover .folder-name {
    text-decoration: underline;
}

.folder-type-title {
    text-decoration: underline;
}
