.folder-item a {
    font-size: 1.3em;
    align-items: center;
    gap: 3px;
    color: #0073aa;
}

.folder-item a:hover {
    color: #005177;
}

.folder-item a:hover .folder-name {
    text-decoration: underline;
}

.folder-type-title {
    text-decoration: underline;
}

.folder-columns {
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.forms,
.views {
    flex: 1;
    min-width: 0; /* allow shrinking */
}
